*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}
.startButton {
    position: absolute;
    z-index: 99;
    top: 65%;
    color: #6BE4D7;
    border: 1px solid rgba(107, 228, 215, 0);
    padding:12px;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 300;
    transition: all 0.8s ease-out;
    }

.startButton.ended {
    background-color: #000000;
    border: 1px solid rgba(107, 228, 215, 1);
    padding:16px 24px 16px 24px;
    border-radius: 4px;
    cursor: pointer;

    }

.startButton.ended:hover {
    transition: all 0.1s ease-out;
    color:rgb(34, 177, 162);
    border: 1px solid rgb(34, 177, 162);
    }

.indicator {
    position: absolute;
    color:#ffffff;
    font-size: 24px;
    font-weight: 300;
    border: 2px solid #6BE4D7;
    border-radius: 50%;
    min-width: 80px;
    min-height: 80px;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
    }

.cloud {
    position: absolute;
    color:#ffffff;
    font-size: 24px;
    font-weight: 300;
    border: 2px solid #6BE4D7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    align-items: center;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
    pointer-events: none;
    transition: all 1s ease-out;
}

.loading-bar
{
    position: absolute;
    width: calc(50% - 164px);
    height: 4px;
    background: #6BE4D7;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.5s;
    will-change: transform;
}

.loading-bar.ended
{
    transform-origin: top right;
    transition: transform 1.5s ease-in-out;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.video-item
{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: all 1s ease-out;
    z-index: 3;
}

.explore-button
{
    position: absolute; 
    bottom: 7%;
    width: 150px;
    display: flex; 
    justify-content: center; 
    align-items: center;    
    cursor: pointer;
}


.button-font
{
    position: absolute; 
    font-size: 1.5rem; 
    color: #ffffff;
    font-weight: 300;
}



.point
{
    position: absolute;
    top: 50%;
    left: 50%;
    
    /* pointer-events: none; */
}

@keyframes floating {
	0%{transform: translateY(0%);transition: ease 0.5s;}
  50%{transform: translateY(10%);transition: ease 0.5s;}
  100%{transform: translateY(0%);transition: ease 0.5s;}

}

.point .label
{
    position: absolute;
    top: -36px;
    left: -36px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: rgba(107, 228, 215, 0.3);
    border: 1px solid #6BE4D7;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 72px;
    font-weight: 200;
    font-size: 20px;
    cursor: pointer;
    transform: scale(0, 0);
    transition: all 0.3s ease-out;
    
}

.point .text
{
    position: absolute;
    top: 72px;
    width: 160px;
    left: -88px;
    padding: 20px;
    border-radius: 4px;
    background: #00000077;
    border: 1px solid #6BE4D7;
    color: #ffffff;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}



.point:hover .text
{
    opacity: 1;
}
.point:hover .label
{
    
    width: 80px;
    height: 80px;
    left: -40px;
    top: -40px;
}

.point.visible .label
{
    transform: scale(1, 1);
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: all 0.8s ease-out;
}

.back-button
{
    position: absolute; 
    top: 120px;
    left: 40px;
    width: 120px;
    display: flex; 
    justify-content: center; 
    align-items: center;    
    cursor: pointer;
    z-index: 98;

}

.next-button
{
    position: absolute; 
    bottom: 60px;
    right: 40px;
    width: 120px;
    display: flex; 
    justify-content: center; 
    align-items: center;    
    cursor: pointer;
}

.task-window
{
    position: absolute; 
    
    width: 700px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    transition: all 1s ease-out;
}

.task-window.hidden
{
    display: none;
}

.task-window.visuallyhidden
{
    opacity: 0;
}

.task-button
{
    position: absolute; 
    bottom: 50px;
    width: 150px;
    display: flex; 
    justify-content: center; 
    align-items: center;    
    cursor: pointer;

}

.upgrade-button
{
    position: absolute; 
    bottom: 60px;
    right: 40px;
    width: 160px;
    display: flex; 
    justify-content: center; 
    align-items: center;    
    cursor: pointer;
}